* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Body */
body {
    background-color: #ee7d7d;
    color: #333;
}

/* Header */
header {
    background: #333;
    color: rgb(245, 131, 131);
    text-align: center;
    padding: 40px 0;
}

/* Navigation */
nav {
    background: #d81d1d;
    text-align: center;
    padding: 10px;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #ffd700;
}

/* Sections */
section {
    padding: 40px;
    max-width: 900px;
    margin: auto;
}

section h2 {
    margin-bottom: 15px;
    color: #d61b1b;
}

/* Skills */
ul {
    list-style-type: square;
    margin-left: 20px;
}

/* Projects */
.project {
    background: white;
    padding: 15px;
    margin-bottom: 15px;
    border-left: 5px solid #f71515;
}
form{
    height: 250px;
    width: 230px;
    background-color: antiquewhite;
    border-radius: 10px;
    margin-left: 50px;


}
h4{
    color: #eb1e1e;
    height: 20px;
    width: 100%;
    margin-top: 10px;
    margin: 5px;
}
input{
    margin-left: 20px;
    border-radius: 10px;
    margin: 10px;
}
button{
    margin-left: 30px;
    border-radius: 5px;
}

/* Footer */
footer {
    background: #eb0b0b;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}
